/* IMPORTANT: Styled mode you must add the PrimeReact Theme here. Do not include in unstyled mode */
@import "tailwindcss";
@import "primereact/resources/themes/lara-light-blue/theme.css";

:root {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color-scheme: light;
	width: 100%;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
	width: 100%;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

@layer base {
	h1 {
		@apply text-3xl font-bold leading-tight text-gray-900;
	}
	h2 {
		@apply text-2xl font-semibold leading-tight text-gray-900;
	}
	h3 {
		@apply text-xl font-semibold leading-tight text-gray-900;
	}
	/* Pokračuj pre h4, h5, h6 podľa potreby */
}
